* {
  outline-color: $outline-color;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


html {
  font-size: rem(16px);
}

html,
body {
  font-family: $font-family;
  color: $gray-dark;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}



.container {
  $grid-gap: 20px;
  $grid-width: 90%;
  $grid-width-xl: 1180px;


  width: 100%;
  max-width: calc(100% - #{rem($grid-gap)} * 2);
  margin-left: auto;
  margin-right: auto;

  @include sm-up() {
    max-width: $grid-width;
  }

  @include xl-up() {
    max-width: rem($grid-width-xl);
  }
}