* {
  outline-color: $outline-color;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


html {
  font-size: rem(16px);
}

html,
body {
  font-family: $font-family;
  color: $gray-dark;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}