// @template: @include hover(color, green);
@mixin hover ($property, $value) {
  transition: #{$property} $easing;

  &:active {
    #{$property}: $value;
  }

  .non-touch-device & {

    &:hover,
    &:focus {
      #{$property}: $value;
    }
  }
}

// @template: @include hover-child(color, green, '&::placeholder');
@mixin hover-child ($property, $value, $child) {
  #{$child} {
    transition: #{$property} $easing;
  }

  &:active {
    #{$child} {
      #{$property}: $value;
    }
  }

  .non-touch-device & {

    &:hover,
    &:focus {
      #{$child} {
        #{$property}: $value;
      }
    }
  }
}

// @template: @include disabled();
@mixin disabled() {
  pointer-events: none;
  user-select: none;
  opacity: $disabled-opacity;
  cursor: $disabled-cursor;
}