// *** Шрифт
$font-family: 'Rubik',
'Roboto',
'Helvetica',
'Arial',
sans-serif;


$browser-context: 16;


// *** Основные цвета сайта
$white: #fff;
$gray-dark: #333;
$gray-light: #828282;
$gray-light-2: #F2F2F2;
$primary: #e5261e;
$primary-dark: #cc221b;
$blue: #1f4766;

$error-color: #E5261E;
$border-color: $gray-dark;

$easing: .3s ease-in-out;


// *** Disabled
$disabled-opacity: 0.6;
$disabled-cursor: default;


// *** Переменные для кнопок
$btn-border-radius: 4px;
$btn-color: $primary;
$btn-color-hover: $primary-dark;

$btn-primary-color: $white;
$btn-primary-bg: $primary;
$btn-primary-bg-hover: $primary-dark;

$btn-secondary-color: $primary;
$btn-secondary-color-hover: $primary-dark;


// *** Переменные для checkbox
$checkbox-box-border-color: $border-color;
$checkbox-box-select-color: $primary;
$checkbox-hover-color: $primary-dark;


// *** Переменные для input
$input-border-color: $border-color;
$input-color: $gray-dark;
$input-placeholder-color: $gray-light;
$input-placeholder-color-hover: $gray-dark;
$input-size-variants: ( 
  'm': 25px, 
);


// *** Переменные для link
$link-dark-color: $gray-dark;
$link-dark-color-hover: $primary;
$link-primary-color:  $primary;
$link-primary-color-hover: $primary-dark;
$link-secondary-color: $blue;
$link-secondary-color-hover:  $primary;


// *** Переменные для textarea
$textarea-primary-bg-color: $gray-light-2;
$textarea-border-radius: 8px;
$textarea-resize-variants: [ 'none', 'both', 'horizontal', 'vertical', 'inherit' ];
$textarea-padding-variants: ( 
  'm': 16px, 
);
$textarea-size-variants: ( 
  'm': 110px, 
);
