/**
 * 1. Значения padding и margin каждый браузер выставляет по-своему – сбрасываем в ноль.
 * 2. Не должно быть возможности выделить контент кнопки, в т.ч. кнопки-ссылки.
 * 3. У содержимого кнопок-ссылок не должно быть подчеркивания.
 * 4. Кнопка не предполагает многострочного содержимого.
 * 5. Чтобы FF под MacOS не делал blur после программного выставления фокуса по mousedown.
 *    Подробности: http://jsfiddle.net/mishaberezin/892yppts/10/.
 * 6. Для кнопок-ссылок.
 * 7. Убираем нативную подсветку на iOS и Android.
 * 8. В IE по дефолту hidden, в остальных браузерах visible, требуется нормализация.
 *    В пользу visible, т.к. мы используем тень для отображения фокуса.
 * 9. Такой сброс стилей нужен для всех тем.
 * 10. Сбрасываем браузерные стили для кнопок, в особенности для link.
 * 11. В IOS 15 для button[type=submit] выставляется bold
 */
.btn {
  position: relative;

  display: inline-block; // 6
  padding: 0; // 1
  margin: 0; // 1

  font-family: inherit;
  font-weight: inherit; // 11
  color: inherit;

  text-align: center; // 10
  overflow: visible; // 8

  -moz-user-focus: ignore; // 5

  user-select: none; // 2
  white-space: nowrap; // 4
  text-decoration: none; // 3

  border-width: 0;
  border-radius: em($btn-border-radius);
  background: transparent; // 9
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 7

  touch-action: manipulation;
  cursor: pointer;


  &_padding {
    padding: em(9px) em(32px);
  }

  &-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    @include hover(background-color, $btn-primary-bg-hover);
  }

  &-secondary {
    color: $btn-secondary-color;
    @include hover(color, $btn-secondary-color-hover);
  }

  &_disabled {
    @include disabled();
  }
}