.film-card {
  display: block;
  width: $film-width;

  &__link {
    display: block;
    outline: none;

    @include hover-child(opacity, 1, '.film-card__desc');
  }
  
  &__content {
    height: $film-height;
    background-color: $gray-dark;
    border-radius: rem($border-radius-big);
  }

  &__title {
    margin-top: 16px;
  }
}