

mixin film-card(props={})
  acticle.film-card
    block

//- article.film
//-   a.film__inner(href="#", target="_blank", title=title)
//-     .film__content
//-       +img(fileName, title)(class="film__img")
//-       .film__desc
//-         p.film__text.js-film-desc: block
//-     h3.film__title(class!=isApi && 'js-film-title')= title