include ../components/btn/index.pug
include ../components/checkbox/index.pug
include ../components/input/index.pug
include ../components/link/index.pug
include ../components/textarea/index.pug
include ../components/image/index.pug