.genre-card {
  $genre-padding-variants: ( 
    'm': 24px, 
  );
  $genre-bg-variants: ( 
  'yellow': linear-gradient(136.27deg, #f2c94c 8.44%, #f29a4a 91.36%), 
  'red': linear-gradient(136.27deg, #f2994a 8.44%, #eb5757 91.36%),
  'blue': linear-gradient(136.27deg, #56ccf2 8.44%, #2f80ed 91.36%),
  'dark': linear-gradient(136.27deg, #828282 8.44%, #333 91.36%),
  );


  position: relative;
  overflow: hidden;
  display: flex;
  width: $base-card-width;
  text-align: center;
  border-radius: rem($border-radius-medium);
  flex-direction: column;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, .15);

  min-height: 208px;
  max-width: 100%;

  
  @include hover-child(opacity, 1, '&::before');


  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $gray-light;
    opacity: 0.8;
  }


  &_padding {
    @each $name, $value in $genre-padding-variants {
      &_#{$name} {
        padding: $value;
      }
    }
  }


  &_bg {
    @each $name, $value in $genre-bg-variants {
      &_#{$name} {
        &:before {
          background: $value;
        }
      }
    }
  }
  


  &_vertical {
    &_center {
        justify-content: center;
    }
  }


  &__image {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;

    &_vertical {
      &_center {
        margin-top: 0;
      }
    }
  }


  &__title {
    margin-top: 32px;

    &_vertical {
      &_center {
        margin-top: 0;
      }
    }
  }
}