.link {
  text-decoration: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  
  &-dark {
    color: $link-dark-color;
    @include hover(color, $link-dark-color-hover);    
  }

  &-primary {
    color: $link-primary-color;
    @include hover(color, $link-primary-color-hover);
  }

  &-secondary {
    color: $link-secondary-color;
    @include hover(color, $link-secondary-color-hover);
  }


  &_disabled {
    @include disabled();
  }
}