.image {
  position: relative;
  overflow: hidden;
  display: block;
  transition: opacity $easing;

  &_fit {
    @each $variant in $object-fit-variants {
      &_#{$variant} {
        object-fit: #{$variant};
      }
    }
  }

  &_loading {
    opacity: 0;
  }

  &_loaded {
    opacity: 1;
  }
}
