
//-
  Изображение с возможностью ленивой загрузки
  props:
  - {string} alt - альтернативный текст
  - {string} loading - отложенная загрузка изображений {'lazy'|'eager'|'auto'}
  - {string|number} width - ширина изображение
  - {string|number} height - высота изображение
  - {string} src - ссылка на изображение
  - {string} srcset - ссылки на адаптивные изображения (заменяет собой src2x)
  - {string} src2x - ссылка на изображение в 2 раза больше основного (не применяется если есть srcset)
  - {string} sizes - размеры изображения
mixin image(props={})
  - var simpleSrcSet = props.src2x ? `${props.src2x} 2x` : null
  - var finalSrcSet = props.srcset || simpleSrcSet
  - var loading = props.loading || 'lazy'
  - var isLazyLoading = loading === 'lazy'

  - delete props.src2x

  - var newProps = { loading: loading, srcset: finalSrcSet }
  - var finalProps = Object.assign(props, newProps)


  //- изображение с ленивой загрузкой
  - if (isLazyLoading)
      noscript.loading-lazy
        img.image.image_loading.js-lazy-image()&attributes(finalProps)
  //- изображение без ленивой загрузки
  - else
      img.image()&attributes(finalProps)